[submodule "oxebots_interfaces"]
	path = src/oxebots_interfaces
	url = https://github.com/OxeBots/oxebots_interfaces.git
[submodule "src/oxebots_comms"]
	path = src/oxebots_comms
	url = https://github.com/OxeBots/oxebots_comms.git
[submodule "src/oxebots_bringup"]
	path = src/oxebots_bringup
	url = https://github.com/OxeBots/oxebots_bringup.git
[submodule "src/oxebots_observers"]
	path = src/oxebots_observers
	url = https://github.com/OxeBots/oxebots_observers.git
